{# Components Guide #}
<section>
  <div class="wrapper">
    <h1>Components Library</h1>
    <div class="components-filter" data-module="componentsFilter">
      <h2 class="components-filter__title">Filter By:</h2>
      <button type="button" name="abcOrderAscending" class="components-filter__category ascending" data-filter-category="abcOrder" title="Sort A > Z">Sort A > Z</button>
      <button type="button" name="abcOrderDescending" class="components-filter__category descending" data-filter-category="abcOrder" title="Sort Z > A">Sort Z > A</button>
      <div class="components-filter__category select-container">
        <select class="components-filter__category" name="type" data-filter-category="type">
          <option value="all" selected>All Types</option>
          <option value="2_pieces">pieces</option>
          <option value="3_components">components</option>
          <option value="4_regions">regions</option>
          <option value="5_layouts">layouts</option>
          <option value="field">undefined</option>
        </select>
      </div>
      <button type="button" name="abcOrderAscending" class="components-filter__category" data-filter-category="clear" title="Clear All">Clear All</button>
    </div>
    <div class="components">
      <div class='components__item' data-filter='11' data-type='2_pieces'>
        <h3>Block Date</h3>{% include '@ul_base_theme/2_pieces/block-date.twig' %}</div>
      <div class='components__item' data-filter='12' data-type='2_pieces'>
        <h3>Button</h3>{% include '@ul_base_theme/2_pieces/button.twig' %}</div>
      <div class='components__item' data-filter='13' data-type='2_pieces'>
        <h3>Card  Aside Default</h3>{% include '@ul_base_theme/2_pieces/card/card--aside-default.twig' %}</div>
      <div class='components__item' data-filter='14' data-type='2_pieces'>
        <h3>Card  Aside Download</h3>{% include '@ul_base_theme/2_pieces/card/card--aside-download.twig' %}</div>
      <div class='components__item' data-filter='15' data-type='2_pieces'>
        <h3>Card  Default</h3>{% include '@ul_base_theme/2_pieces/card/card--default.twig' %}</div>
      <div class='components__item' data-filter='16' data-type='2_pieces'>
        <h3>Card  Events Highlight</h3>{% include '@ul_base_theme/2_pieces/card/card--events-highlight.twig' %}</div>
      <div class='components__item' data-filter='17' data-type='2_pieces'>
        <h3>Card  Events</h3>{% include '@ul_base_theme/2_pieces/card/card--events.twig' %}</div>
      <div class='components__item' data-filter='18' data-type='2_pieces'>
        <h3>Card  Banner</h3>{% include '@ul_base_theme/2_pieces/card/card--banner.twig' %}</div>
      <div class='components__item' data-filter='19' data-type='2_pieces'>
        <h3>Card</h3>{% include '@ul_base_theme/2_pieces/card/card.twig' %}</div>
      <div class='components__item' data-filter='20' data-type='2_pieces'>
        <h3>Filter Bar  Filter</h3>{% include '@ul_base_theme/2_pieces/filter-bar/filter-bar--filter.twig' %}</div>
      <div class='components__item' data-filter='21' data-type='2_pieces'>
        <h3>Filter Bar  Pagination</h3>{% include '@ul_base_theme/2_pieces/filter-bar/filter-bar--pagination.twig' %}</div>
      <div class='components__item' data-filter='22' data-type='2_pieces'>
        <h3>Filter Bar  Results</h3>{% include '@ul_base_theme/2_pieces/filter-bar/filter-bar--results.twig' %}</div>
      <div class='components__item' data-filter='23' data-type='2_pieces'>
        <h3>Filter Bar  Search</h3>{% include '@ul_base_theme/2_pieces/filter-bar/filter-bar--search.twig' %}</div>
      <div class='components__item' data-filter='24' data-type='2_pieces'>
        <h3>Filter Bar  Select</h3>{% include '@ul_base_theme/2_pieces/filter-bar/filter-bar--select.twig' %}</div>
      <div class='components__item' data-filter='25' data-type='2_pieces'>
        <h3>Footer  Copyright</h3>{% include '@ul_base_theme/2_pieces/footer--copyright.twig' %}</div>
      <div class='components__item' data-filter='26' data-type='2_pieces'>
        <h3>Footer  Logo</h3>{% include '@ul_base_theme/2_pieces/footer--logo.twig' %}</div>
      <div class='components__item' data-filter='27' data-type='2_pieces'>
        <h3>Footer Choose Region</h3>{% include '@ul_base_theme/2_pieces/footer-choose-region.twig' %}</div>
      <div class='components__item' data-filter='28' data-type='2_pieces'>
        <h3>Form Item  Select</h3>{% include '@ul_base_theme/2_pieces/form-item--select.twig' %}</div>
      <div class='components__item' data-filter='29' data-type='2_pieces'>
        <h3>Listing Item  Default</h3>{% include '@ul_base_theme/2_pieces/listing-item/listing-item--default.twig' %}</div>
      <div class='components__item' data-filter='30' data-type='2_pieces'>
        <h3>Listing Item</h3>{% include '@ul_base_theme/2_pieces/listing-item/listing-item.twig' %}</div>
      <div class='components__item' data-filter='31' data-type='2_pieces'>
        <h3>Nav  Primary  Item</h3>{% include '@ul_base_theme/2_pieces/nav--primary__item.twig' %}</div>
      <div class='components__item' data-filter='32' data-type='2_pieces'>
        <h3>Nav  Primary  Mega Menu</h3>{% include '@ul_base_theme/2_pieces/nav--primary__mega-menu.twig' %}</div>
      <div class='components__item' data-filter='33' data-type='2_pieces'>
        <h3>Nav  Secondary  Item</h3>{% include '@ul_base_theme/2_pieces/nav--secondary__item.twig' %}</div>
      <div class='components__item' data-filter='34' data-type='2_pieces'>
        <h3>Nav  Secondary  Submenu</h3>{% include '@ul_base_theme/2_pieces/nav--secondary__submenu.twig' %}</div>
      <div class='components__item' data-filter='35' data-type='2_pieces'>
        <h3>Overlay</h3>{% include '@ul_base_theme/2_pieces/overlay.twig' %}</div>
      <div class='components__item' data-filter='36' data-type='2_pieces'>
        <h3>Pagination</h3>{% include '@ul_base_theme/2_pieces/pagination.twig' %}</div>
      <div class='components__item' data-filter='37' data-type='2_pieces'>
        <h3>Search Bar  Group</h3>{% include '@ul_base_theme/2_pieces/search-bar--group.twig' %}</div>
      <div class='components__item' data-filter='38' data-type='2_pieces'>
        <h3>Section  References  Citation</h3>{% include '@ul_base_theme/2_pieces/section--references__citation.twig' %}</div>
      <div class='components__item' data-filter='39' data-type='2_pieces'>
        <h3>Skip To Content</h3>{% include '@ul_base_theme/2_pieces/skip-to-content.twig' %}</div>
      <div class='components__item' data-filter='40' data-type='2_pieces'>
        <h3>Ul Logo</h3>{% include '@ul_base_theme/2_pieces/ul-logo-red.twig' %}</div>
      <div class='components__item' data-filter='41' data-type='2_pieces'>
        <h3>Widget  Card Tags</h3>{% include '@ul_base_theme/2_pieces/widget/widget--card-tags.twig' %}</div>
      <div class='components__item' data-filter='42' data-type='2_pieces'>
        <h3>Widget  Card Tags  Item</h3>{% include '@ul_base_theme/2_pieces/widget/widget--card-tags__item.twig' %}</div>
      <div class='components__item' data-filter='43' data-type='2_pieces'>
        <h3>Widget  Date Time</h3>{% include '@ul_base_theme/2_pieces/widget/widget--date-time.twig' %}</div>
      <div class='components__item' data-filter='44' data-type='2_pieces'>
        <h3>Widget  Default</h3>{% include '@ul_base_theme/2_pieces/widget/widget--default.twig' %}</div>
      <div class='components__item' data-filter='45' data-type='2_pieces'>
        <h3>Widget  Topics</h3>{% include '@ul_base_theme/2_pieces/widget/widget--topics.twig' %}</div>
      <div class='components__item' data-filter='46' data-type='2_pieces'>
        <h3>Widget  Topics  Item</h3>{% include '@ul_base_theme/2_pieces/widget/widget--topics__item.twig' %}</div>
      <div class='components__item' data-filter='47' data-type='2_pieces'>
        <h3>Widget</h3>{% include '@ul_base_theme/2_pieces/widget/widget.twig' %}</div>
      <div class='components__item' data-filter='48' data-type='3_components'>
        <h3>Aside  Router</h3>{% include '@ul_base_theme/3_components/aside--router.twig' %}</div>
      <div class='components__item' data-filter='49' data-type='3_components'>
        <h3>Aside</h3>{% include '@ul_base_theme/3_components/aside.twig' with t04Aside only %}</div>
      <div class='components__item' data-filter='50' data-type='3_components'>
        <h3>Card  Router</h3>{% include '@ul_base_theme/3_components/card--router.twig' %}</div>
      <div class='components__item' data-filter='51' data-type='3_components'>
        <h3>Footer  Bottom</h3>{% include '@ul_base_theme/3_components/footer--bottom.twig' %}</div>
      <div class='components__item' data-filter='52' data-type='3_components'>
        <h3>Footer  Top</h3>{% include '@ul_base_theme/3_components/footer--top.twig' %}</div>
      <div class='components__item' data-filter='53' data-type='3_components'>
        <h3>Footer Nav</h3>{% include '@ul_base_theme/3_components/footer-nav.twig' %}</div>
      <div class='components__item' data-filter='54' data-type='3_components'>
        <h3>Global Header  Button Wrapper</h3>{% include '@ul_base_theme/3_components/global-header__button-wrapper.twig' %}</div>
      <div class='components__item' data-filter='55' data-type='3_components'>
        <h3>Global Header  Logo</h3>{% include '@ul_base_theme/3_components/global-header__logo.twig' %}</div>
      <div class='components__item' data-filter='56' data-type='3_components'>
        <h3>Global Header  Search</h3>{% include '@ul_base_theme/3_components/global-header__search.twig' %}</div>
      <div class='components__item' data-filter='57' data-type='3_components'>
        <h3>Hero  Default Slide</h3>{% include '@ul_base_theme/3_components/hero--default-slide.twig' %}</div>
      <div class='components__item' data-filter='58' data-type='3_components'>
        <h3>Hero  Events  Slide</h3>{% include '@ul_base_theme/3_components/hero--events__slide.twig' %}</div>
      <div class='components__item' data-filter='59' data-type='3_components'>
        <h3>Hero  Aside Item</h3>{% include '@ul_base_theme/3_components/hero__aside-item.twig' %}</div>
      <div class='components__item' data-filter='60' data-type='3_components'>
        <h3>Listing Item  Router</h3>{% include '@ul_base_theme/3_components/listing-item--router.twig' %}</div>
      <div class='components__item' data-filter='61' data-type='3_components'>
        <h3>Modal</h3>{% include '@ul_base_theme/3_components/modal.twig' %}</div>
      <div class='components__item' data-filter='62' data-type='3_components'>
        <h3>Nav  Primary</h3>{% include '@ul_base_theme/3_components/nav--primary.twig' %}</div>
      <div class='components__item' data-filter='63' data-type='3_components'>
        <h3>Nav  Secondary</h3>{% include '@ul_base_theme/3_components/nav--secondary.twig' %}</div>
      <div class='components__item' data-filter='64' data-type='3_components'>
        <h3>Nav  Side  Menu</h3>{% include '@ul_base_theme/3_components/nav--side__menu.twig' %}</div>
      <div class='components__item' data-filter='65' data-type='3_components'>
        <h3>Nav  Side  Submenu</h3>{% include '@ul_base_theme/3_components/nav--side__submenu.twig' %}</div>
      <div class='components__item' data-filter='66' data-type='3_components'>
        <h3>Slide  Hero</h3>{% include '@ul_base_theme/3_components/slide--hero.twig' %}</div>
      <div class='components__item' data-filter='67' data-type='3_components'>
        <h3>Slide</h3>{% include '@ul_base_theme/3_components/slide.twig' %}</div>
      <div class='components__item' data-filter='68' data-type='3_components'>
        <h3>Social Nav</h3>{% include '@ul_base_theme/3_components/social-nav.twig' %}</div>
      <div class='components__item' data-filter='69' data-type='3_components'>
        <h3>Title Bar  Aside</h3>{% include '@ul_base_theme/3_components/title-bar--aside.twig' %}</div>
      <div class='components__item' data-filter='70' data-type='3_components'>
        <h3>Title Bar  Basic</h3>{% include '@ul_base_theme/3_components/title-bar--basic.twig' %}</div>
      <div class='components__item' data-filter='71' data-type='3_components'>
        <h3>Title Bar  Default</h3>{% include '@ul_base_theme/3_components/title-bar--default.twig' %}</div>
      <div class='components__item' data-filter='72' data-type='3_components'>
        <h3>Title Bar</h3>{% include '@ul_base_theme/3_components/title-bar.twig' %}</div>
      <div class='components__item' data-filter='73' data-type='4_regions'>
        <h3>Footer</h3>{% include '@ul_base_theme/4_regions/footer.twig' %}</div>
      <div class='components__item' data-filter='74' data-type='4_regions'>
        <h3>Header</h3>{% include '@ul_base_theme/4_regions/header.twig' %}</div>
      <div class='components__item' data-filter='75' data-type='4_regions'>
        <h3>Hero  Banner</h3>{% include '@ul_base_theme/4_regions/hero--banner.twig' with t03Hero only %}</div>
      <div class='components__item' data-filter='76' data-type='4_regions'>
        <h3>Hero  Default</h3>{% include '@ul_base_theme/4_regions/hero--default.twig' with t06Hero only %}</div>
      <div class='components__item' data-filter='77' data-type='4_regions'>
        <h3>Hero  Events</h3>{% include '@ul_base_theme/4_regions/hero--events.twig' with t05Hero only %}</div>
      <div class='components__item' data-filter='78' data-type='4_regions'>
        <h3>Hero  News</h3>{% include '@ul_base_theme/4_regions/hero--news.twig' with t07Hero only %}</div>
      <div class='components__item' data-filter='79' data-type='4_regions'>
        <h3>Hero</h3>{% include '@ul_base_theme/4_regions/hero.twig' %}</div>
      <div class='components__item' data-filter='80' data-type='4_regions'>
        <h3>Nav  Side</h3>{% include '@ul_base_theme/4_regions/nav--side.twig' %}</div>
      <div class='components__item' data-filter='81' data-type='4_regions'>
        <h3>Section  Author</h3>{% include '@ul_base_theme/4_regions/section--author.twig' %}</div>
      <div class='components__item' data-filter='82' data-type='4_regions'>
        <h3>Section  Banner</h3>{% include '@ul_base_theme/4_regions/section--banner.twig' %}</div>
      <div class='components__item' data-filter='83' data-type='4_regions'>
        <h3>Section  Cards  Default</h3>{% include '@ul_base_theme/4_regions/section--cards--default.twig' with t03Cards only %}</div>
      <div class='components__item' data-filter='84' data-type='4_regions'>
        <h3>Section  Cards  Events</h3>{% include '@ul_base_theme/4_regions/section--cards--events.twig' with t05Cards only %}</div>
      <div class='components__item' data-filter='85' data-type='4_regions'>
        <h3>Section  Cards</h3>{% include '@ul_base_theme/4_regions/section--cards.twig' %}</div>
      <div class='components__item' data-filter='86' data-type='4_regions'>
        <h3>Section  Filter Bar</h3>{% include '@ul_base_theme/4_regions/section--filter-bar.twig' with t06Filter %}</div>
      <div class='components__item' data-filter='87' data-type='4_regions'>
        <h3>Section  Gate</h3>{% include '@ul_base_theme/4_regions/section--gate.twig' %}</div>
      <div class='components__item' data-filter='88' data-type='4_regions'>
        <h3>Section  Listing Container</h3>{% include '@ul_base_theme/4_regions/section--listing-container.twig' %}</div>
      <div class='components__item' data-filter='89' data-type='4_regions'>
        <h3>Section  Published</h3>{% include '@ul_base_theme/4_regions/section--published.twig' %}</div>
      <div class='components__item' data-filter='90' data-type='4_regions'>
        <h3>Section  References</h3>{% include '@ul_base_theme/4_regions/section--references.twig' %}</div>
      <div class='components__item' data-filter='91' data-type='4_regions'>
        <h3>Section  Tags</h3>{% include '@ul_base_theme/4_regions/section--tags.twig' %}</div>
      <div class='components__item' data-filter='92' data-type='4_regions'>
        <h3>Section  Title</h3>{% include '@ul_base_theme/4_regions/section--title.twig' with t04Title only %}</div>
      <div class='components__item' data-filter='93' data-type='4_regions'>
        <h3>Section  Topics</h3>{% include '@ul_base_theme/4_regions/section--topics.twig' %}</div>
      <div class='components__item' data-filter='94' data-type='4_regions'>
        <h3>Section  Wysiwyg</h3>{% include '@ul_base_theme/4_regions/section--wysiwyg.twig' %}</div>
      <div class='components__item' data-filter='95' data-type='4_regions'>
        <h3>Section</h3>{% include '@ul_base_theme/4_regions/section.twig' %}</div>
      <div class='components__item' data-filter='96' data-type='5_layouts'>
        <h3>T03 Basic Detail</h3>{% include '@ul_base_theme/5_layouts/t03-basic-detail.twig' with { gated: true } %}</div>
      <div class='components__item' data-filter='97' data-type='5_layouts'>
        <h3>T04 News Detail</h3>{% include '@ul_base_theme/5_layouts/t04-news-detail.twig' %}</div>
      <div class='components__item' data-filter='98' data-type='5_layouts'>
        <h3>T05 Events Detail</h3>{% include '@ul_base_theme/5_layouts/t05-events-detail.twig' %}</div>
      <div class='components__item' data-filter='99' data-type='5_layouts'>
        <h3>T06 Basic Listing</h3>{% include '@ul_base_theme/5_layouts/t06-basic-listing.twig' with t06Listing only %}</div>
      <div class='components__item' data-filter='100' data-type='5_layouts'>
        <h3>T07 News Listing</h3>{% include '@ul_base_theme/5_layouts/t07-news-listing.twig' with t07Listing only %}</div>
      <div class='components__item' data-filter='101' data-type='field'>
        <h3>Field  Text Long Html</h3>{% include '@ul_base_theme/field/field--text-long.html.twig' %}</div>
      <div class='components__item' data-filter='102' data-type='field'>
        <h3>Field  Text With Summary Html</h3>{% include '@ul_base_theme/field/field--text-with-summary.html.twig' %}</div>
      <div class='components__item' data-filter='103' data-type='field'>
        <h3>Field Html</h3>{% include '@ul_base_theme/field/field.html.twig' %}</div>
    </div>
  </div>
</section>
