<div class="grid-blocks">
  <div class="row">
    <div class="span-12">
      <div class="inner">
        <h4>span-12</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span-6-m">
      <div class="inner">
        <h4>span-6-m</h4>
      </div>
    </div>
    <div class="span-6-m">
      <div class="inner">
        <h4>span-6-m</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span-4-t">
      <div class="inner">
        <h4>span-4-t</h4>
      </div>
    </div>
    <div class="span-4-t">
      <div class="inner">
        <h4>span-4-t</h4>
      </div>
    </div>
    <div class="span-4-t">
      <div class="inner">
        <h4>span-4-t</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span-6-lm span-3-d">
      <div class="inner">
        <h4>span-6-lm, <br>span-3-d</h4>
      </div>
    </div>
    <div class="span-6-lm span-3-d">
      <div class="inner">
        <h4>span-6-lm, <br>span-3-d</h4>
      </div>
    </div>
    <div class="span-6-lm span-3-d">
      <div class="inner">
        <h4>span-6-lm, <br>span-3-d</h4>
      </div>
    </div>
    <div class="span-6-lm span-3-d">
      <div class="inner">
        <h4>span-6-lm, <br>span-3-d</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span-7-d">
      <div class="inner">
        <h4>span-7-d</h4>
      </div>
    </div>
    <div class="span-5-d">
      <div class="inner">
        <h4>span-5-d</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span-6-m span-3-d offset-2-d">
      <div class="inner">
        <h4>span-6-m, <br> span-3-d, <br>offset-2-d</h4>
      </div>
    </div>
    <div class="span-6-m span-3-d offset-2-d">
      <div class="inner">
        <h4>span-6-m, <br> span-3-d, <br>offset-2-d</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span-10 offset-1">
      <div class="inner">
        <h4>span-10, <br>offset-1</h4>
      </div>
    </div>
  </div>
</div>
