<div class="global-header__logo span-auto">
    {% block logo %}
        <a href="{{ front_page }}" aria-label="UL logo" title="UL logo">
            {% include '@ul_base_theme/2_pieces/ul-logo-red.twig' only %}
        </a>
    {% endblock %}
</div>
