<div class="global-header__secondary-nav span-auto title-menu-will-toggle">
    {% block secondary_nav_inner %}
        {% include '@ul_base_theme/3_components/nav--secondary.twig' with { items: secondary_nav } only %}
    {% endblock %}
</div>
