<div class="global-header__hamburger span-auto">
    <div class="global-header__hamburger-inner">
        {% block content %}
            {% include '@ul_base_theme/2_pieces/hamburger.twig' %}
        {% endblock %}
    </div>
</div>