<div class="global-header__primary-nav span-8 title-menu-will-toggle">
    {% block primary_nav_inner %}
        {% include '@ul_base_theme/3_components/nav--primary.twig' with { items: primary_nav } only %}
    {% endblock %}
</div>
