{% extends "@ul_base_theme/3_components/nav.twig" %}
{% set class = "nav--sub-menu" %}
{% set inner_class = "wrapper" %}
{% set menu_class = "row" %}
{% set type = "sub-menu" %}

{% block menu %}
  {% embed '@ul_base_theme/3_components/menu.twig' with {
    items: items,
    type: type,
    menu_class: menu_class,
    link_class: 'item--block-link item--arrow-link',
    parent_url: url
  } only %}
    {% block before_items %}
      <li class="span-6-t span-4-d span-3-ld">
        <a href="{{ parent_url }}" class="{{ link_class }}" title="Overview">Overview</a>
      </li>
    {% endblock %}
  {% endembed %}
{% endblock %}
