{# This uses the Wistia Video ID: {{wistiaID}} #}
<script src="https://fast.wistia.com/embed/medias/{{ wistiaID }}.jsonp" async></script>
<div class="wistia_responsive_padding">
  <div class="wistia_responsive_wrapper">
    <div class="wistia_embed wistia_async_{{ wistiaID }} videoFoam=true">
      <div class="wistia_swatch">
        <img src="https://fast.wistia.com/embed/medias/{{ wistiaID }}/swatch" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" />
      </div>
    </div>
  </div>
</div>
