{% extends '@ul_base_theme/1_core/1-column.twig' %}
{% set mainClass = 'wrapper max-width--large-desktop' %}

{% block page %}
  {% set wysiwyg_content %}
    {% block content %}
      {% if gated %}
        {% include '@ul_base_theme/1_core/wysiwyg-sample--short.twig' %}
      {% else %}
        {% include '@ul_base_theme/1_core/wysiwyg-sample.twig' %}
      {% endif %}
    {% endblock %}
  {% endset %}

  {% block body %}
    {% embed '@ul_base_theme/4_regions/section--wysiwyg.twig' with { wysiwyg_content: wysiwyg_content } %}
      {% block content %}
        <div class="editor-content">
          {{ wysiwyg_content }}
        </div>
      {% endblock %}
    {% endembed %}
  {% endblock %}

  {% block gate %}
    {% if gated %}
      {% include '@ul_base_theme/4_regions/section--gate.twig' %}
    {% endif %}
  {% endblock %}

  {% block meta %}
    {% if not gated %}
      {% block published %}
        {% if t04Published %}
          {% include '@ul_base_theme/4_regions/section--published.twig' with t04Published only %}
        {% endif %}
      {% endblock %}
      {% block tags %}
        {% if t04Tags %}
          {% include '@ul_base_theme/4_regions/section--tags.twig' with { tags: t04Tags } only %}
        {% endif %}
      {% endblock %}
      {% block references %}
        {% if t04References %}
          {% include '@ul_base_theme/4_regions/section--references.twig' with t04References only %}
        {% endif %}
      {% endblock %}
      {% block author %}
        {% if t04Author %}
          {% include '@ul_base_theme/4_regions/section--author.twig' with t04Author only %}
        {% endif %}
      {% endblock %}
    {% endif %}
  {% endblock %}
{% endblock %}
