.banner--carousel {
  figure{
    margin:0 auto;
    img{
      width:100%;
    }
  }
  figcaption {
    color: $text-color--light;
    padding-bottom: $spacing-unit;
    padding-top: $spacing-unit;
    @include breakpoint($desktop) {
      padding-bottom: $spacing-unit--l;
      padding-top: $spacing-unit--l;
    }

    strong {
      color: $blue;
    }
  }
  .swiper-button {
    background-color: $white;
    background-image: none;
    display: none;
    font-size: 1rem;
    height: 50px;
    line-height: 1;
    margin: 0;
    width: 50px;
    transform: translateY(-100%);
    &-prev {
      left:0;
    }
    &-next {
      right:0;
    }
    @include breakpoint($tablet) {
      display: block;
    }
    &:hover{
      background-color:$gray-lightest;
    }
    .swiper-icon {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
