/* Paragraph type "Content Accordion" styles: */
.p-accordion {
  h2 {
    margin: (1.25 * $spacing-unit) 0;
  }
  dt {
    cursor: pointer;
    font-weight: 300;
    font-size: 2rem;
    position: relative;
    margin-top: 2rem;

    span {
      position: absolute;
      top: 36%;
      right: 1.5rem;
      z-index: 2;
    }
  }
  dd {
    margin:0;
    padding:0;
  }
}
