.widget--topics {
  ul {
    font-size: 0; // remove whitespace
  }
  li {
    padding-#{$start-direction}: 0em !important;
  }
  li:before {
    @include pseudo-list-item;
    content: "" !important;
  }
}

.topic {
  color: $blue;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .05em;
  line-height: 1.5;
  padding: 0;
  text-transform: uppercase;
  transition: color $transition;
  &:not(:last-child) {
    &:after {
      color:currentColor;
      content: '|';
      display: inline-block;
      margin-left: $spacing-unit--xs;
      margin-right: $spacing-unit--xs;
      transform: translateX(-25%); // offset whitespace
    }
  }
  a {
    color: $blue;
  }
}
