.widget--card-tags {
  #{$start-direction}: 0;
  padding: $spacing-unit;
  position: absolute;
  top: 0;
  z-index: index($globalIndex, base);
  ul {
    font-size: 0; // remove whitespace
  }
  li {
    padding-#{$start-direction}: 1em !important;
  }
  li:before {
    @include pseudo-list-item;
    content: "" !important;
  }
}

.card-tag {
  background: $blue-light;
  color: $black;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: $spacing-unit--s;
  margin-#{$end-direction}: $spacing-unit--s;
  padding: $spacing-unit--s * .75 $spacing-unit--m;
  text-transform: uppercase;
  &--new {
    background-color: $red;
    color: $white;
  }
  &--premium {
    background-color: $yellow;
  }
}
