<header
    id="mobileHeaderGuideline"
    class="header--mobile header--mobile--guideline"
    data-module="mobileHeader"
    data-target="#navMobileHeaderGuideline"
    data-active-class="nav-active"
    >
    <div class="header--mobile__inner">
        <div class="header--mobile__start">
            <div class="header--mobile__hamburger">
                <a
                id="toggle-navigation"
                href="#"
                class="navigation-button"
                data-toggle
                aria-expanded="false"
                aria-label="Open the secondary book navigation overlay"
                ><span class=""></span></a>
            </div>
        </div>
        <div class="header--mobile__end"></div>
    </div>
</header>

<nav id="navMobileHeaderGuideline" class="nav--mobile nav--mobile--guideline" data-module="mobileHeader">
	<div class="nav--mobile__inner">
		<div class="nav--mobile__pages">

      {{ content }}

		</div>
	</div>
</nav>
