{% set zendesk_url = content.zendesk_url %}
<div class="footer--zendesk">
  <!-- Start of ulmarketing Zendesk Widget script -->
  <script id="ze-snippet" src="{{ zendesk_url }}"> </script>
  <!-- End of ulmarketing Zendesk Widget script -->
</div>
