
<div class="center">
    <div class="form-page__header">
    <h2 style="text-align:center">{{ title }}</h2>
    </div>
    <div class="form-page__body">
        <p style="text-align:center">{{ description }}</p>
        <div class="form-actions" style="text-align:center"><a href="/contact/submit_request" class="button">Submit Another Request</a></div>
    </div>
</div>
