<div class="header__logo">
  {% block header_logo %}
    <a href="/" aria-label="UL logo">
      {% include '@ul_guidelines_theme/2_pieces/logo.twig' with { alt: "UL Solutions" } %}
    </a>
  {% endblock %}
</div>
