<div class="header__search">
    {% block search %}
    <a
            href="#"
            data-search-toggle
            data-search-position="#headerTop"
    >
      <span class="sr-only">Search</span>
      <span class="icon icon-search"></span>
    </a>
    {% endblock %}
</div>
