{# <div class="swiper-slide image-slide" style="background-image: url('{{- slide.image -}}');"></div> #}
<div class="swiper-slide">
    {% block image %}
    <img src="{{- slide.image -}}" alt="{{- slide.imageAlt -}}" />
    {% endblock %}
</div>