<div class="nav--mobile__page" data-level="{{ level }}" id="{% block nav_page_id %}{% endblock %}">
	{% block nav_page_breadcrumb %}{% endblock %}
	<ul class="nav--mobile__page__menu">
		{% block nav_page_links %}{% endblock %}
	</ul>
	{% block nav_page_footer %}{% endblock %}
</div>
