{% block side_rail_submit %}
    {% if sideRailSubmit %}
        <div class="button-container">
            <a href="#" class="button icon icon-request" data-module="submitRequest">Submit Request</a>
        </div>
    {% endif %}
{% endblock %}