<div data-view="search">
    <div class="search-popular">
        {% block content %}
            {% include '@ul_guidelines_theme/4_regions/section--cards.twig' with {
            section: searchData.cards
            } %}
        {% endblock %}
    </div>
</div>
