/**
 * @TODO: Can this ported into the Base Profile Theme's CSS?
 */
.mobile-menu {
  .menu-list--group a {
    @include breakpoint(max-width $tablet - 1) {
      line-height: 1.3;
      position: relative;
      padding-left: 20px;
      font-size: 1.3rem;
    }
  }
  .menu-list--group ul li a {
    @include breakpoint(max-width $desktop - 1) {
      padding-left: 0;
      margin-left: -0.7rem;
      margin-right: -0.5rem;
    }
  }
}
