{% import "@ul_base_theme/1_core/macros.twig" as mac %}

{% set attributes = [] %}
{% set is_dark = is_dark|default(false) %}
{% set has_close_button = has_close_button|default(false) %}
{% set primary_cta_class = 'button--primary' %}
{% set secondary_cta_class = 'button--secondary button--link' %}

{# time in milliseconds #}
{% set timer = timer|default(5000) %}

{% if is_dark %}
  {% set primary_cta_class = primary_cta_class ~ ' button--white-outline' %}
{% else %}
  {% set primary_cta_class = primary_cta_class ~ ' button--black-outline' %}
{% endif %}

{% if id %}
  {% set attributes = attributes|merge({'data-id': id}) %}
{% endif %}

{% if hide_on_scroll %}
  {% set attributes = attributes|merge({'data-hide-on-scroll': 'true'}) %}
{% endif %}

{% if hide_on_timer %}
  {% set attributes = attributes|merge({'data-hide-on-timer': timer}) %}
{% endif %}

{% if has_close_button %}
  {% set class = class ~ ' has-close-btn' %}
{% endif %}

<section class="alert {{ class }}" {{ mac.attributes(attributes) }}>
  {% block content %}
    <div class="alert__inner wrapper">
      <div class="alert__row-container">
        <div class="alert__row row">
          <div class="alert__content-container span-10-d">
            {% if title %}
              <h2 class="alert__title">{{ title }}</h2>
            {% endif %}
            {% if description %}
              <div class="alert__description">
                {% block description_inner %}
                  {% include '@ul_base_theme/2_pieces/editor-content.twig' with { content: description } only %}
                {% endblock %}
              </div>
            {% endif %}
            {% if primary_cta %}
              <div class="alert__buttons">
                {% if primary_cta %}
                    {% include '@ul_base_theme/2_pieces/button.twig' with {
                      name: primary_cta.title,
                      link: '#',
                      class: 'alert--dismiss ' ~ primary_cta_class
                    } %}
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
        {% if has_close_button %}
          <a href="#" title="Close" class="alert__close alert--dismiss"><span class="alert__close-icon icon-times"><span class="sr-only">Close</span></span></a>
        {% endif %}
      </div>
    </div>
  {% endblock %}
</section>
