<div class="footer__bottom">
  <div class="wrapper">
    {% block content %}
      {% include '@ul_base_theme/2_pieces/footer--logo.twig' %}
      {% include '@ul_base_theme/2_pieces/footer--copyright.twig' %}
      {% include '@ul_base_theme/3_components/social-nav.twig' %}
    {% endblock %}
  </div>
</div>
