{% extends "@ul_base_theme/4_regions/section.twig" %}
{% set class = "section--gate" %}

{% block content %}
  <h2>Content Gate</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ad voluptatem aliquid, consequuntur minus perspiciatis inventore unde placeat ipsa iste a, veritatis amet dolor labore earum, velit officiis libero sint.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolore quas nemo expedita voluptatem dolorem, incidunt optio nihil laboriosam eligendi cum facere unde perferendis architecto eos repudiandae dignissimos adipisci velit.</p>
{% endblock %}
