{% extends "@ul_base_theme/4_regions/section.twig" %}
{% set class = "section--form" %}

{% block content %}
  {% if title %}
    <h2>{{ title }}</h2>
  {% endif %}
  {% if form %}
    {{ form }}
  {% endif %}
{% endblock %}
