///*------------------------------------*\
//    #UTILITY - RTL Language Settings
//\*------------------------------------*/
// https://medium.com/@elad/the-best-way-to-rtl-your-website-with-sass-105e34a4298a

$direction: rtl;
$opposite-direction: ltr;
$start-direction: right;
$end-direction: left;
$transform-direction: -1;
