<footer class="footer">
    {% block footer_top %}
    {% endblock %}
    {% block footer_bottom %}
    {% endblock %}
    <button class="scrollToTopBtn" title="Back to top"><span class="tooltiptext">Back to top</span></button>
</footer>
