  <header class="global-header" data-module="globalHeader">
  <div class="global-header__inner">
    <section class="section--default wrapper">
        {% block header_top %}
        {% endblock %}
        {% block header_bottom %}
        {% endblock %}
    </section>
  </div>
</header>
