///*------------------------------------*\
//    #UTILITY - LTR Language Settings
//\*------------------------------------*/
// https://medium.com/@elad/the-best-way-to-rtl-your-website-with-sass-105e34a4298a

$direction: ltr;
$opposite-direction: rtl;
$start-direction: left;
$end-direction: right;
$transform-direction: 1;
