{# <div class="nav--side-rail--gray-background"></div> #}
<aside class="nav--side-rail nav--side-rail--bg-gray">
{% block side_rail_content %}
    <div class="block">
        {% include '@ul_guidelines_theme/3_components/nav--side-rail__menu.twig' %}
        {% include '@ul_guidelines_theme/3_components/nav--side-rail__submit.twig' %}
    </div>
{% endblock %}
</aside>
