<div class="turnaround">
  {% block turnaround_label %}
    <p class="label">{{- widget.label -}}</p>
  {% endblock %}
  {% block turnaround_time %}
    <h3 class="icon icon-clock">{{- widget.time -}}</h3>
  {% endblock %}
</div>
