.anchor-target {
  @include sr-only;
  @include sr-only-focusable;
  position: absolute;
  top: - ($global-header-height--mobile + $global-header-height--top);
  @include breakpoint($desktop) {
    top: - ($global-header-height--desktop + $global-header-height--top);
  }

  &__container {
    position: relative;
  }
}
