///*------------------------------------*\
//    #CORE/HTML - FORMS
//\*------------------------------------*/

form {}

button {}

select,
input {}

input[type='submit'],
input[type='radio'],
input[type='checkbox'] {
  width: auto;
}

// select
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  -webkit-appearance: none; // remove inner shadow and rounded corners on iOS
  background-color: $white;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border-radius: $border-radius;
  border: 1px solid $border-color;
  box-shadow: none;
  box-sizing: border-box;
  color: $text-color;
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.3;
  padding: $spacing-unit--s;
}

input[type='submit'] {}

input[type='text'] {}

input[type='password'] {}

input[type='radio'] {}

input[type='checkbox'] {}

label {}

label,
input,
textarea {
  display: block;
  margin-bottom: $spacing-unit--xs;
}

textarea {}

select {}

fieldset {
  border: none;
  margin: 0;
  // Chrome and Firefox set a `min-width: min-content;` on fieldsets
  // See https://github.com/twbs/bootstrap/issues/12359.
  min-width: 0;
  padding: 0;
}

.form-item {
  margin-bottom: $spacing-unit;
}

.mktoForm {
  width: auto !important;
}
