///*------------------------------------*\
//    #CORE/HTML - LINKS
//\*------------------------------------*/

a {
  color: $red;
  text-decoration: none;
  transition: color $transition;
  word-wrap: break-word;

  &:active,
  &:hover {
    text-decoration: underline;
  }
}
