        <div id="extlink_dialog" title="Leaving {{ site_name }} website">
          You are leaving the {{ site_name }} website for an external site. {{ site_name }} structures this activity to be distinct and separate from its conformity assessment bodies.
        </div>
