{# views-view--locations.html.twig #}
{% extends '@ul_enterprise_theme/3_components/locations-wrapper.twig' %}
{% set title = view.getTitle() %}

{% block page %}
  {% include '@ul_enterprise_theme/4_regions/section--locations-title.twig' %}
  <section class="section locations-view-rows">
    {{ rows }}
  </section>
{% endblock %}
