{% extends "@ul_base_theme/2_pieces/card/card--default.twig" %}
{% set cardId = "node--card-" ~ node.id() %}
{% set catch_cache = content|render %}
{% if content.field_shared_header_media.0.url %}
    {% set image = card_image %}
    {% set imageAlt = content.field_shared_header_media.0.alt %}
{% else %}
    {% set imageAlt = '' %}
{% endif %}

{% set clickable = true %}
{% set title = label %}
{% set subtitle = content.field_shared_header_description %}
{% set link = url %}

{# Format the date (translate). #}
{% set date = node.created.value|format_date("medium_date_no_time") %}

{% set tags = [] %}
{% if badges.gated %}
    {% set tags = tags|merge([badges.gated]) %}
{% endif %}

{% if content.field_promo_material_type|render %}
  {% set topics = [
      {content: content.field_promo_material_type|render}
  ]%}
{% endif %}

{% block card_description %}
    <p>{{ content.field_shared_ref_description|render}}</p>
{% endblock %}
