{% extends '@ul_base_theme/2_pieces/card/card--default.twig' %}
{% set cardId = "node--card-" ~ node.id() %}
{% if content.field_shared_header_media.0.url %}
    {% set image = card_image %}
    {% set imageAlt = content.field_shared_header_media.0.alt %}
{% else %}
    {% set imageAlt = '' %}
{% endif %}
{% set title = label %}
{% set subtitle = content.field_shared_header_description %}
{% set link = url %}
{% set clickable = true %}

{# Date format (translate): #}
{% set timestamp = content.field_news_date.0|render|date("U") %}
{% set date = timestamp|format_date("medium_date_no_time") %}

{% if content.field_news_type|render %}
  {% set topics = [
      {content: content.field_news_type|render}
  ]%}
{% endif %}
{% block card_description %}
    {% if content.field_shared_ref_description|render %}
        <p>{{ content.field_shared_ref_description }}</p>
    {% else %}
        {{ content.body }}
    {% endif %}
{% endblock %}
{% block card_tags %}
    {# Intentionally left blank #}
{% endblock %}
