{# Contact Us - new page template. #}
{% extends '@ul_base_theme/1_core/2-column-complex.twig' %}
{% set mainClass = mainClass ~ ' two-col--landing-page contactus-page' %}

{% block page %}
  <section class="section section--paragraph section--contactus">
    <div class="paragraph-gutter">
      <h1 class="page-title">{{ label }}</h1>
      <p>{{ '* Indicates a required field'|t }}</p>
      <div id="sf_target">
        {% include '@ul_enterprise_theme/marketo/inc-progress-bar.html.twig' %}
      </div>
      <div id="mkto_target"></div>
    </div>
  </section>
{% endblock %}

{% block aside_top %}
  {# Intentionally left empty. #}
{% endblock %}

{% block aside_bttm %}
  {{ content.field_landing_page_content }}
{% endblock %}
