<a href="#" class="button button--white">Button White</a>
<br><br>
<a href="#" class="button button--gray">Button Gray</a>
<br><br>
<a href="#" class="button button--blue">Button Blue</a>
<br><br>
<a href="#" class="button button--red">Button Red</a>
<br><br>
<a href="#" class="button button--teal">Button Teal</a>
<br><br>
<a href="#" class="button button--link">Button Link</a>
<br><br>
<a href="#" class="button button--white-outline">Button White Outline</a>
<br><br>
<a href="#" class="button button--blue-outline">Button Blue Outline</a>
<br><br>
<a href="#" class="button button--red-outline">Button Red Outline</a>
<br><br>
<a href="#" class="button button--black-outline">Button Black Outline</a>
