<form method="post" action="#">
  <fieldset id="forms__input">
    <div class="js-form-item form-item">
      <label for="input__text" class="js-form-required form-required">Text Input</label>
      <input id="input__text" type="text" placeholder="Text Input">
    </div>
    <div class="js-form-item form-item">
      <label for="input__password">Password</label>
      <input id="input__password" type="password" autocomplete="off" placeholder="Type your Password">
    </div>
    <div class="js-form-item form-item">
      <label for="input__webaddress" class="js-form-required form-required">Web Address</label>
      <input class="error" id="input__webaddress" type="url" placeholder="http://yoursite.com">
    </div>
    <div class="js-form-item form-item">
      <label for="input__emailaddress">Email Address</label>
      <input id="input__emailaddress" type="email" placeholder="name@email.com">
    </div>
    <div class="js-form-item form-item">
      <label for="input__phone">Phone Number</label>
      <input id="input__phone" type="tel" placeholder="(999) 999-9999">
    </div>
    <div class="js-form-item form-item">
      <label for="input__search">Search</label>
      <input id="input__search" type="search" placeholder="Enter Search Term">
    </div>
    <div class="js-form-item form-item">
      <label for="input__text2">Number Input</label>
      <input id="input__text2" type="number" placeholder="Enter a Number">
    </div>
    <div class="js-form-item form-item">
      <label for="input__text3" class="error">Error</label>
      <input id="input__text3" class="is-error" type="text" placeholder="Text Input">
    </div>
    <div class="js-form-item form-item">
      <label for="input__text4" class="valid">Valid</label>
      <input id="input__text4" class="is-valid" type="text" placeholder="Text Input">
    </div>
  </fieldset>
  <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-type">
    <label for="edit-title">Select 1</label>
    <select data-drupal-selector="edit-select-1" id="edit-select-1" name="select-1" class="form-select">
      <option value="All" selected="selected">- Make a selection -</option>
      <option value="option_a">Option A</option>
      <option value="option_b">Option B</option>
      <option value="option_c">Option C</option>
    </select>
  </div>
  <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-type">
    <label for="edit-title">Select 2</label>
    <select data-drupal-selector="edit-select-2" id="edit-select-2" name="select-2" class="form-select">
      <option value="All" selected="selected">- Make a selection -</option>
      <option value="option_a">Option A</option>
      <option value="option_b">Option B</option>
      <option value="option_c">Option C</option>
    </select>
  </div>
  <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-type">
    <label for="edit-title">Select 3</label>
    <select data-drupal-selector="edit-select-3" id="edit-select-3" name="select-3" class="form-select">
      <option value="All" selected="selected">- Make a selection -</option>
      <option value="option_a">Option A</option>
      <option value="option_b">Option B</option>
      <option value="option_c">Option C</option>
    </select>
  </div>
</form>
