{% set icons = [
  'alarm-clock',
  'angle-down-solid',
  'angle-down',
  'angle-left-solid',
  'angle-left',
  'angle-right-solid',
  'angle-right',
  'angle-up-solid',
  'angle-up',
  'arrow-d',
  'arrow-down',
  'arrow-l',
  'arrow-left',
  'arrow-r',
  'arrow-right',
  'arrow-u',
  'arrow-up',
  'bars',
  'bookmark-solid',
  'bookmark',
  'bracket-d',
  'bracket-l',
  'bracket-r',
  'bracket-u',
  'browser',
  'calendar-alt',
  'calendar-plus-regular',
  'calendar-plus',
  'caret-down-solid',
  'caret-left-solid',
  'caret-right-solid',
  'caret-up-solid',
  'cart',
  'chat',
  'check-solid',
  'check-square-solid',
  'check-square',
  'checkmark',
  'circle-solid',
  'circle',
  'clock',
  'dot-circle',
  'download',
  'ellipsis-h',
  'envelope-solid',
  'envelope',
  'facebook-square',
  'facebook',
  'file-alt',
  'file-pdf',
  'file',
  'filter-solid',
  'filter',
  'globe-solid',
  'globe',
  'google-plus-g',
  'google-plus-square',
  'headphones-solid',
  'heart',
  'home',
  'image-regular',
  'info',
  'instagram',
  'key',
  'linkedin-in',
  'linkedin',
  'mail',
  'map-marker-alt',
  'minus',
  'pencil-solid',
  'pencil',
  'pinterest',
  'play-light',
  'play-solid',
  'play',
  'plus',
  'question-circle-regular',
  'question-circle',
  'resources',
  'schedule',
  'search',
  'share-solid',
  'share',
  'solid-arrow-d-u',
  'solid-arrow-d',
  'solid-arrow-l',
  'solid-arrow-r',
  'solid-arrow-u',
  'square-solid',
  'square',
  'th-large',
  'thumbs-down',
  'thumbs-up',
  'times-circle',
  'times',
  'trash-alt-solid',
  'trash-alt',
  'twitter-square',
  'twitter',
  'user-alt-solid',
  'user-alt',
  'user',
  'youtube-square',
  'youtube'
] %}

<ul class="icon-list row">
  {% for icon in icons %}
    <li class="span-6-m span-4-t span-3-d span-2-ld">
      <span class="icon icon-{{icon}}"></span>
      <span class="text">{{icon}}</span>
    </li>
  {% endfor %}
</ul>
