.editor-content {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 3rem;
  }
  p {
    line-height: 1.66;
  }
}

.align-center.media--type-image {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}
