{# @see @ul_base_theme/2_pieces/filter-bar/_filter-bar.scss #}
<div class="span-auto-t exposed-form-datepicker">
{% embed '@ul_base_theme/2_pieces/form-item--textfield.twig' %}
    {% block textfield %}
        {{ children }}
    {% endblock %}
{% endembed %}
</div>
