{# landing.twig #}
{% include '@ul_guidelines_theme/1_core/head.twig' %}
<body>
  <main id="main-content" class="no-header">
    {% block page %}{% endblock %}

    {% include '@ul_guidelines_theme/1_core/global-scripts.twig' %}
  </main>
</body>
</html>
