{# @file: marketo-form--gated-success.html.twig #}
<section style="display:none;" class="section section--success-mssg">
  <div class="wrapper">
    <div class="messages messages--status">
      <strong>{{ 'Thank you!'|t }}</strong> {{ 'You may now access all of the content.'|t }}
    </div>
  </div>
</section>
