{# @ul_enterprise_profile/themes/custom/ul_enterprise_theme/templates/field/field--paragraph--field-addr-customer-service.html.twig #}

<a href="tel:{{ items.0.content["#title"] }}" title="{{ items.0.content["#title"] }}">{{ items.0.content["#title"] }}</a>
