{% set aria_label_link_search = aria_label_link_search|default('Search Site') %}
<div class="global-header__search span-auto title-menu-will-toggle">
    {% block content %}
        <a href="#" class="accordion" data-module="accordion" data-max-width="991" aria-label="{{ aria_label_link_search }}">
            <span class="icon icon-search"></span>
        </a>
        <div class="global-header__search-container">
            <div class="wrapper">
              {% block search_bar %}
                  {% include '@ul_anz_theme/2_pieces/search-bar--group.twig' %}
              {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>
